@import url("https://cdn.syncfusion.com/ej2/material.css");

@tailwind base;
@tailwind utilities;
@tailwind components;

/* footer titles */
footer h3 {
    @apply font-roboto font-semibold;
}

/* login background */
.login-bg { 
  background-attachment: fixed;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient( rgba(0, 0, 0, 0.897), rgba(199, 194, 194, 0.5) ),url('../assets/library.jpg');
}

/* inquiries background */
/* .inquiriesBg {
    background-color: #272c26;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #272c26 15px ), repeating-linear-gradient( #0d17ca55, #0d17ca );
    height:auto;
} */

/* counts background */
.countsBg {
    background: linear-gradient( rgba(0, 0, 0, 0.897), rgba(199, 194, 194, 0.5) ),url('../assets/countsbg.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}
/* school banner */
.schoolBanner {
    background: linear-gradient( rgba(0, 0, 0, 0.637), rgba(0, 0, 0, 0.5) ),url('../assets/students.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
}
/* Announcement Background */
.announceBg {
    background: url('../assets/announcebg.png'),url('../assets/whitebg.jpg');
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
}

/* mobile menu burger */
.showMenuMobile {
  animation: menu-mobile 1s ease-in-out forwards;
}
@keyframes menu-mobile {
  0% {
    opacity:0;
    top:-20px;
  }
  100% {
    opacity:1;
    top:18rem;
  }
}

/* service card */
.service-icon {
  @apply w-full h-full fill-current text-blue-900 hover:text-gray-100;
}

.service-card {
  @apply hover:text-gray-100 hover:bg-blue-900 transition duration-200 border-2 border-gray-300 rounded-sm p-2 flex justify-center items-center flex-col w-64 cursor-pointer;
}

/* enroll button */
.Btn:hover {
    transition:0.4s ease-in-out;
}
.arrow {
    display:none;
    color:white;
    transition:0.4s ease-in-out;
}
.Btn:hover .arrow {
    display:block;
    animation: arrow 1 ease-in-out forwards;
}

/* submenu */
.subMenu {
    display:none;
}
.subMenu li {
    padding:5px;
    transition:0.4s;
}
.subMenu li:hover {
    background:rgb(28, 28, 170);
    color:white;
}
nav ul a:hover .subMenu {   
    display:block;
    background:white;
    animation: submenu 0.4s ease-in-out forwards;
}
@keyframes submenu {
    0% {
        opacity:0;
        top:-50px;
    }
    100% {
        opacity:1;
        top:1.5rem;
    }
}


/* react-calendar */
.react-calendar {
  width: auto;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  line-height: 1.125em;
}
.react-calendar--doubleView {
  width: 700px;
}
.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}
.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}
.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}
.react-calendar button:enabled:hover {
  cursor: pointer;
}
.react-calendar__navigation {
  height: 44px;
  margin-bottom: 1em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}
.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__navigation button[disabled] {
  background-color: #f0f0f0;
}
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}
.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
  color:#272c26;
  text-decoration: none;
}
.react-calendar__month-view__weekNumbers {
  font-weight: bold;
}
.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  padding: calc(0.75em / 0.75) calc(0.5em / 0.75);
}
.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}
.react-calendar__month-view__days__day--neighboringMonth {
  color: #757575;
}
.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}
.react-calendar__tile {
  max-width: 100%;
  text-align: center;
  padding: 0.75em 0.5em;
  background: none;
}
.react-calendar__tile:disabled {
  background-color: #f0f0f0;
}
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}
.react-calendar__tile--now {
  background: #ffff76;
}
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #ffffa9;
}
.react-calendar__tile--hasActive {
  background: #76baff;
}
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
}
.react-calendar__tile--active {
  background: #006edc;
  color: white;
}
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #1087ff;
}
.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}